body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #87aebf;
  font-family: sans-serif;
}

.magic-button {
  width: 200px;          
  height: 80px;          
  background-color: #ff0080;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 26px;     
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 0;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.magic-button:hover {
  background-color: #d1c733;
  border-radius: 30px;
  transform: scale(1.05);
}


.magic-button:active {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ff4444;
  font-size: 0; 
  transform: scale(3);
}
